<head>
    <base href="login">
</head>
<body>
    <div class="container">
        <div class="register-container">
            <div class="left-box">
                <h1>Discover the world's top investments.</h1>
                <img src="/assets/cat.jpg">
            </div>
            <div class="right-box">
                <form #userForm="ngForm" (ngSubmit)="loginUser(userForm.value.email, userForm.value.password)" 
                class="input-form" >
                    <div class="title">
                        <h1>Login to InvestApp</h1>
                    </div>

                    <label>Email</label>
                    <input type="text" ngModel name="email" placeholder="Enter email...">

                    <label>Password</label>
                    <input type="password" ngModel name="password" placeholder="Enter password...">

                    <div style="padding-bottom: 4vh; padding-top: 4vh;">
                        <a href="register">Dot't have account yet?</a>
                    </div>

                    <input class="create-btn" type="submit" value="Login">
                </form>
            </div>
            
        </div>
    </div>
</body>