<head>
    <base href = "/register">
</head>
<body>
    <div class="container">
        <div class="register-form">
            <form class="input-fields" action="register">
                <div>

                </div>
                <div class="right-box">
                    <div class="title">Sign up for InvestApp</div>
                    <div class="input-fields">
                        <label>Name</label>
                        <input type="text" placeholder="John">
                    </div>
                    <div class="input-fields">
                        <label>Email</label>
                        <input type="text" placeholder="johndoe@gmail.com">
                    </div>
                    <div class="input-fields">
                        <label>Password</label>
                        <input type="text" placeholder="6+ charcters">
                    </div>

                    <button>Create account</button>
                </div>
            </form>
            <!-- <div class="left-box"></div>
            <div class="right-box">
                <div class="title">Sign up for InvestApp</div> 
                <div>
                    <form class="input-fields" action="register">
                        <div class="field-container">
                            <label>Name</label>
                            <input type="text" placeholder="John">
                        </div>
                        <div class="field-container">
                            <label>Email</label>
                            <input type="text" placeholder="johndoe@gmail.com">
                        </div>
                        <div class="field-container">
                            <label>Password</label>
                            <input type="text" placeholder="6+ characters">
                        </div>
                        <div class="button">
                            <button>Create account</button>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</body>