<head>
    <base href = "/register">
</head>
<body>
    <div class="container">
        <div class="register-container">
            <div class="left-box">
                <h1>Discover the world's top investments.</h1>
                <img src="/assets/cat.jpg">
            </div>
            <div class="right-box">
                <form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)" action="" class="input-form" >
                    <div class="title">
                        <h1>Sign up to InvestApp</h1>
                    </div>
                    
                    <label>Name</label>
                    <input type="text" ngModel name="name" placeholder="John">

                    <label>Email</label>
                    <input type="text" ngModel name="email" placeholder="johndoe@gmail.com">

                    <label>Password</label>
                    <input type="password" ngModel name="password" placeholder="6+ characters">

                    <div class="policy">
                        <input type="checkbox">
                        <label>Creating an account means you’re okay with our and our default Terms of Service, Privacy Policy, Notification Settings</label>
                    </div>

                    <input class="create-btn" type="submit" value="Create account">
                </form>
            </div>
            
        </div>
    </div>
</body>