body {
    background-color: black;
}

.container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.main-issuers-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}

.main-issuers-inner-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-issuers-inner-container + .main-issuers-inner-container {
    border-bottom: 2px solid #CCCCCC;
    align-items: center;
}

.main-issuers-inner-container .main-issuer {
    width: 65vh;
    height: 80%;
    background-color: white;
    border-radius: 3vh;
    padding: 2vh;
    border: 5px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.main-issuers-inner-container .main-issuer:hover {
    margin-bottom: 5vh;
    border-color: rgb(171,188,232);
    border-color: linear-gradient(90deg, rgba(171,188,232,1) 0%, rgba(214,153,222,1) 100%);
}

.main-issuer a {
    text-decoration: none;
    color: black;
}

.main-issuer h1 {
    font-size: xx-large;
}
.main-issuer h3 {
    font-size: larger;
}

.main-issuer .price-container {
    width: 100%;
    height: 15vh;
    margin-top: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.price-container h1 {
    font-size: xx-large;
}

.price-container h3 {
    margin-left: 3vh;
    font-size: x-large;
}

.main-issuer + .main-issuer {
    margin-left: 5vh;
}

.all-issuers-container {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: transparent;
}

.all-issuers-container ul{
    width: 100%;
}

.simple-issuer-container {
    display: flex;
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid #CCCCCC;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    justify-content: space-between;
}

.simple-issuer-container a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

.left-box {
    width: 14%;
    align-items: center;
    display: flex;
}

.left-box .full-name{
    font-size: medium;
    color: #858585;
    margin-left: 3vh;
}

.if-container {
    width: 14%; 
}

.right-box-negative {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #F25022;
}

.right-box-positive {
    display: flex;
    justify-content: space-between;
    width: 14%;
    color: #7FBA00;
}

.percent {
    font-size:large;
}

li + li {
    margin-top: 2vh;
}
