<head>
    <base href="market">
</head>
<body>
    <div class="container">
        <div class="main-issuers-container">
            <div class="main-issuers-inner-container">
                <div *ngFor="let issuer of mainIssuers.slice(0, 3)" class="main-issuer" (click)="goLink(issuer.shortName, issuer.fullName)">
                    <a [routerLink]="['/market/issuer', issuer.shortName, issuer.fullName]"><h1>{{issuer.shortName}}</h1></a>
                    <h3>{{issuer.fullName}}</h3>

                    <div style="color: #F25022;" class="price-container" *ngIf="issuer.percent<0; else elseBlock">
                        <h1>{{issuer.priceNow}}</h1>
                        <h3>{{issuer.percent}}%</h3>
                    </div>
                    <ng-template #elseBlock>
                        <div style="color: #7FBA00;" class="price-container">
                            <h1>{{issuer.priceNow}}</h1>
                            <h3>+{{issuer.percent}}%</h3>
                        </div>
                    </ng-template>
                </div> 
            </div>
            <div class="main-issuers-inner-container">
                <div *ngFor="let issuer of mainIssuers.slice(3)" class="main-issuer" (click)="goLink(issuer.shortName, issuer.fullName)">
                    <a [routerLink]="['/market/issuer', issuer.shortName, issuer.fullName]"><h1>{{issuer.shortName}}</h1></a>
                    <h3>{{issuer.fullName}}</h3>

                    <div style="color: #F25022;" class="price-container" *ngIf="issuer.percent<0; else elseBlock">
                        <h1>{{issuer.priceNow}}</h1>
                        <h3>{{issuer.percent}}%</h3>
                    </div>
                    <ng-template #elseBlock>
                        <div style="color: #7FBA00;" class="price-container">
                            <h1>{{issuer.priceNow}}</h1>
                            <h3>+{{issuer.percent}}%</h3>
                        </div>
                    </ng-template>
                </div> 
            </div>
        </div>
        <div class="all-issuers-container">
            <ul>
                <div *ngFor="let issuer of simpleIssuers" class="simple-issuer-container">
                    <div class="left-box">
                       <a [routerLink]="['/market/issuer', issuer.shortName, issuer.fullName]">{{issuer.shortName}}</a> 
                       <a class="full-name" [routerLink]="['/market/issuer', issuer.shortName, issuer.fullName]">{{issuer.fullName}}</a> 
                    </div>
                    
                    <div class="if-container" *ngIf="issuer.percent<0; else elseBlock">
                        <div class="right-box-negative">
                            <h2>{{issuer.priceNow}}</h2>
                            <h2 class="percent">{{issuer.percent}}%</h2>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="right-box-positive">
                            <h2>{{issuer.priceNow}}</h2>
                            <h2 class="percent">+{{issuer.percent}}%</h2>
                        </div>
                    </ng-template>
                </div>
            </ul>
        </div>
    </div>
    
</body>