<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<main>
    <body>
        <header class="main-header">
            <div class="search-container">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" class="search-box" placeholder="Search issuer...">
            </div>

            <a href="register">register</a>
        </header>

    <router-outlet></router-outlet>
    
    <div>
        <canvas id="myChart"></canvas>
    </div>
      
    </body>
</main>