:host {
  --content-padding: 10px;
}
.main-header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 20px 20px;
  background-color: #242424;
  border-bottom: 2px solid #ddc469;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}
.content {
  padding-bottom: 10px;
}

.search-box {
  height: 80%;
  width: 30%;
  border: 3px solid;
  border-radius: 20px;
  font-size: x-large;
  padding-left: 40px;
}
.navigation a {
  position: relative;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  color: #ddc469;
  margin-left: 30px;
  padding-bottom: 5px;
}

.navigation a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #ddc469;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: .2s;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation button {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #ddc469;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  color: #ddc469;
  margin-left: 30px;
  transition: .5s;
}

.navigation button:hover {
  background-color: #ddc469;
  color: #242424;
}

.company-name {
  color: #ddc469;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.content {
  padding: 0;
  margin-top: 100px;
  width: 100%;
  padding-bottom: 30px;
}

svg {
  display: inline;
}
