:host {
  padding: auto;
}

.main-header {
  left: 0%;
  width: 100%;
  height: 80px;
  padding: 20px 20px;
  background-color: white;
  border-bottom: 2px solid #CCCCCC;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  z-index: 99;
  margin-top: 15px;
}
.search-container {
  height: 100%;
  width: 50%;
  margin-bottom: 20px;
  position: relative;
  align-items: center;
}

.search-box {
  height: 100%;
  width: 100%;
  background: #F0F0F0;
  border: none;
  border-radius: 20px;
  font-size: x-large;
  padding-left: 50px;
  box-sizing: border-box;
  display: inline-block;
}
.navigation a {
  position: relative;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  color: #ddc469;
  margin-left: 30px;
  padding-bottom: 5px;
}

.navigation a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #ddc469;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: .2s;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation button {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #ddc469;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  color: #ddc469;
  margin-left: 30px;
  transition: .5s;
}

.navigation button:hover {
  background-color: #ddc469;
  color: #242424;
}

.company-name {
  color: #ddc469;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.content {
  padding: 0;
  margin-top: 10px;
  width: 100%;
  padding-bottom: 30px;
}

i {
  position: absolute;
  color: gray;
  top: 10px;
  margin-left: 20px;
}

