<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
</head>

<main>
    <body>
        <header class="main-header">
            <div class="logo-container">
                <h1>InvestApp</h1>
            </div>

            <div class="links-container">
                <ul class="links">
                    <li><a class="header-link" href="#">Guides</a></li>
                    <li><a class="header-link" href="#">Social</a></li>
                    <li><a class="header-link" href="market">Markets</a></li>
                    <li><a class="header-link" href="#">News</a></li>
                    <li><a class="header-link" href="#">Else</a></li>
                </ul>
            </div>
            
            
            <div *ngIf="userName==null" class="register-container">
                <a class="register-link" href="login"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
            </div>
            <div *ngIf="userName!=null" class="register-container">
                <a class="register-link" href="profile"><i class="fa fa-user" aria-hidden="true"></i>{{userName}}</a>
            </div>

        </header>

    <router-outlet></router-outlet>
      
    </body>
</main>