
.issuer-header {
   display: flex;
   width: 100%;
   height: 300px;
   border-bottom: 2px solid #CCCCCC;
   background: transparent;
   padding-bottom: 25px;
}

.left-box {
   left: 0;
   height: 50%;
   width: 40%;
   background: transparent;
   margin-top: 30px;
   display: block;
}

.company-name {
   display: flex;
   align-items: end;
}

.price {
   display: flex;
   align-items:end;
   margin-top: 10px;
}

.ticker {
   text-transform: uppercase;
   color: black;
   
   font-size: 25px;
}

.name {
   color: gray;
   font-size: 18px;
}

.amount {
   display: inline-block;
   color: black;
   font-size: 35px;
}

.percent-positive {
   display: inline-block;
   color: #7FBA00;
   font-size: 20px;
   
}

.percent-negative {
   display: inline-block;
   color: #F25022;
   font-size: 20px;
   
}
