.container {
   background-color: white;
   display: block;
}

.issuer-header {
   display: flex;
   width: 100%;
   height: 160px;
   border-bottom: 2px solid #CCCCCC;
   background: white;
   justify-content: space-between;
   z-index: 99;
   padding-left: 5%;
   padding-right: 5%;
}

.left-box {
   left: 0;
   height: 50%;
   width: 40%;
   background: transparent;
   margin-top: 30px;
   display: block;
}

.right-box {
   height: 50%;
   width: 40%;
   margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.issuer-header-btn{
   cursor: pointer;
   display: inline-block;
   height: 70%;
   border: 2px solid #7FBA00;
   border-radius: 30px;
   align-items: center;
   width: 30%;
   text-align: center;
   text-transform: uppercase;
   color: #7FBA00;
   background-color: white;
   transition: .4s;
   font-size: 25px;
}

.issuer-header-btn-pressed{
   cursor: pointer;
   display: inline-block;
   height: 70%;
   border: 2px solid #7FBA00;
   border-radius: 30px;
   align-items: center;
   width: 30%;
   text-align: center;
   text-transform: uppercase;
   color: white;
   background-color: #7FBA00;
   transition: .4s;
   font-size: 25px;
}

.issuer-header-chart-btn{
   cursor: pointer;
   margin-left: 4vh;
   width: 65%;
   display: inline-block;
   height: 70%;
   border: 2px solid #7FBA00;
   border-radius: 30px;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #7FBA00;
   background-color: white;
   transition: 0.4s;
   font-size: 25px;
}

.issuer-header-btn:hover {
   color: white;
   background-color: #7FBA00;
}

.issuer-header-btn-pressed:hover {
   color: #7FBA00;
   background-color: white;
}

.issuer-header-chart-btn:hover {
   color: white;
   background-color: #7FBA00;
}

.company-name {
   display: flex;
   align-items: flex-end;
}

.price {
   display: flex;
   align-items:flex-end;
   margin-top: 10px;
}

.ticker {
   text-transform: uppercase;
   color: black;
   
   font-size: 25px;
}

.name {
   color: gray;
   font-size: 18px;
   margin-left: 10px;
}

.amount {
   display: inline-block;
   color: black;
   font-size: 35px;
}

.percent-positive {
   display: inline-block;
   color: #7FBA00;
   font-size: 20px;
   margin-left: 15px;
}

.percent-negative {
   display: inline-block;
   color: #F25022;
   font-size: 20px;
   margin-left: 15px;
}

