<body>
  <div class="container">
    <div class="issuer-header">
      <div class="left-box">
        <div class="company-name" *ngIf="issuer | async as issuerData">
          <h1 class="ticker">{{issuerData.shortName}}</h1>
          <h1 class="name">{{issuerData.fullName}}</h1>
        </div>
        <div class="price" *ngIf="issuer | async as issuerData">
          <h1 class="amount">{{issuerData.priceNow}}</h1>
          <div *ngIf="issuerData.percent>0; else elseBlock">
            <h1 class="percent-positive">+{{issuerData.percent}}%</h1>
          </div>
          <ng-template #elseBlock>
            <h1 class="percent-negative">{{issuerData.percent}}%</h1>
          </ng-template>
        </div>
      </div>
      <div class="right-box">
        
        <button *ngIf="userService.conntainsIssuerInBookmarks(issuerShortName); else elseBlock" class="issuer-header-btn-pressed" (click)="bookmarkIssuer()">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </button>
        
        <ng-template #elseBlock>
          <button class="issuer-header-btn" (click)="bookmarkIssuer()">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          </button>
        </ng-template>
        
        <button class="issuer-header-chart-btn">Chart</button>
      </div>   
    </div>
    
    <section *ngIf="issuer | async as issuerData">
      <issuer-details [issuer]="issuerData"></issuer-details>
    </section>
  </div>
</body>
