<body>
  <div class="issuer-header">
    <div class="left-box">
      <div class="company-name">
        <h1 class="ticker">{{issuer.shortName}}</h1>
        <h1 class="name">{{issuer.fullName}}</h1>
      </div>
      <div class="price">
        <h1 class="amount">{{issuer.priceNow}}</h1>
        <div *ngIf="issuer.percent>0; else elseBlock">
          <h1 class="percent-positive">{{issuer.percent}}%</h1>
        </div>
        <ng-template #elseBlock>
          <h1 class="percent-negative">{{issuer.percent}}%</h1>
        </ng-template>
      </div>
    </div>
    <div class="right-box">
      <button class="issuer-header-btn">
        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </button>
      <button class="issuer-header-btn">Chart</button>
    </div>   
  </div>
  
  <section>
    <issuer-details [issuer]="issuer"></issuer-details>
  </section>
</body>
