
.issuer-header {
   display: flex;
   width: 100%;
   height: 300px;
   border-bottom: 2px solid #ddc469;
   background: transparent;
   padding: 20px;
   margin-bottom: 20px;
}

.right-box {
   height: 100%;
   width: 40%;
   background: rgb(36,36,36);
   margin-bottom: 10px;
   border-radius: 20px;
   padding: 30px;
   display: block;
}

.company-name {
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 99;
}

.price {
   display: flex;
   align-items:flex-end;
   margin-top: auto;
   padding-top: 20%;
}

.ticker {
   text-transform: uppercase;
   color: #ddc469;
   display: inline-block;
   font-size: 35px;
}

.name {
   display: inline-block;
   color: #ddc469;
   margin-left: 20px;
   font-size: 35px;
}

.amount {
   display: inline-block;
   color: #ddc469;
   font-size: 50px;
}

.percent {
   display: inline-block;
   color: #7FBA00;
   font-size: 35px;
   margin-left: 20px;
}

