<head>
    <base href="">
</head>

<body>
    <div class="container">
        <div class="content-container">
            <div><label>Look first/</label></div>
            <div><label>Then leap.</label></div>
            
            <h3>First preparation, then action. This is how the best deals are made.</h3>
            
            <div class="search-container">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" placeholder="Search for issuer...">
            </div>
        </div>
    </div>
</body>