<head>
    <base href="">
</head>

<body>
    <div class="container">
        <div class="start-container">
            <h1>Diversify your portfolio</h1>
            <h3>Discover thounds of assets. Share ideas,</h3>
            <h3>discuss strategies and beyond</h3>
            <div class="start-inner-container">
                <div class="right-box">
                    <h3 style="font-weight: bold;">Invest in your favorite companies</h3>
                    <h3>Enjoy 0% comission and transactional shares</h3>
                    <a class="market" href="market">Get started</a>
                    <a class="guides" href="#">See our guides for beginners</a>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div><label>Look first/</label></div>
            <div><label>Then leap.</label></div>
            
            <h3>First preparation, then action. This is how the best deals are made.</h3>
            
            <div class="search-container">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" placeholder="Search for issuer...">
            </div>
        </div>

        <div class="experts-container">
            <div class="right-box">

            </div>
            <div class="left-box">
                <h1 style="font-weight: bold;">Insights from Industry Experts</h1>
                <label>
                    Stay ahead of the market trends and make informed investment decisions 
                    with insights from our team of seasoned experts. 
                    Access exclusive research, analysis, and expert 
                    commentary to navigate the ever-changing landscape 
                    of investment opportunities.
                </label>

                <a href="#">See insights</a>
            </div>
        </div>
    </div>
</body>